body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.column{
    margin : 10px;
    height : 60px;
    width : 170px;

    border-radius:8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: inset 8px 0px 0px 0px rgba(7,145,219,1);
    -moz-box-shadow: inset 8px 0px 0px -1px rgba(7,145,219,1);
    box-shadow: inset 8px -3px -3px 5px rgba(7,145,219,1);
    border: 1px solid #1774d6;
    text-align: center;
    cursor: move;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.JobBox{
    width:200px; 
    float:left; 
    height:380px; 
    background:#efe9e9;
    margin:2px; 
    overflow:auto;
}
.Job-panel {
    display: inline-block;
    padding: 8px;
	width: 200px;
    vertical-align: top;
	background-color: #fff;
	border-radius: 3px;
}

.table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}